<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Dtn_ProductIngredient::dtn_product_ingredient"
             title="Product Ingredient" translate="title" module="Dtn_ProductIngredient"
             sortOrder="20" parent="Magento_Catalog::inventory"
             action="dtn/ingredient/index"
             resource="Dtn_ProductIngredient::dtn_product_ingredient"
        />

    </menu>
</config>
