<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dtn_office_employee_listing_data_source" xsi:type="string">
                    Dtn\Office\Model\ResourceModel\Employee\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Dtn\Office\Model\ResourceModel\Employee\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dtn_employee</argument>
            <argument name="resourceModel" xsi:type="string">Dtn\Office\Model\ResourceModel\Employee</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dtn_office_department_listing_data_source" xsi:type="string">
                    Dtn\Office\Model\ResourceModel\Department\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Dtn\Office\Model\ResourceModel\Department\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">dtn_department</argument>
            <argument name="resourceModel" xsi:type="string">Dtn\Office\Model\ResourceModel\Department</argument>
        </arguments>
    </virtualType>

    <!-- Write to a custom log file -->
    <virtualType name="Magento\Payment\Model\Method\MyCustomDebug" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/dtn.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\Payment\Model\Method\MyCustomLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Magento\Payment\Model\Method\MyCustomDebug</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="log" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="error" xsi:type="object">Dtn\Office\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Dtn\Office\Controller\Test\Log">
        <arguments>
            <argument name="logger" xsi:type="object">log</argument>
        </arguments>
    </type>

    <!-- Write to a custom log file event observer -->
    <type name="Dtn\Office\Observer\EmployeeLoadBefore">
        <arguments>
            <argument name="logger" xsi:type="object">log</argument>
        </arguments>
    </type>

    <type name="Dtn\Office\Observer\EmployeeLoadAfter">
        <arguments>
            <argument name="logger" xsi:type="object">log</argument>
        </arguments>
    </type>

    <type name="Dtn\Office\Observer\EmployeeSaveBefore">
        <arguments>
            <argument name="logger" xsi:type="object">log</argument>
        </arguments>
    </type>

    <type name="Dtn\Office\Observer\EmployeeSaveAfter">
        <arguments>
            <argument name="logger" xsi:type="object">log</argument>
        </arguments>
    </type>
    <type name="Dtn\Office\Observer\EmployeeDeleteBefore">
        <arguments>
            <argument name="logger" xsi:type="object">log</argument>
        </arguments>
    </type>
    <type name="Dtn\Office\Observer\EmployeeDeleteAfter">
        <arguments>
            <argument name="logger" xsi:type="object">log</argument>
        </arguments>
    </type>

</config>
